<%= render "frontdoor/searchbar" %>

<div class="container-fluid">
  
  <div id="searches-container">

    <div class="row-fluid">
      <div class="span4">
        <div class="tabbable"> 
          <ul class="nav nav-tabs" id="tablinks">
            <li class="active"><a href="#history">History</a></li>
            <li><a href="#shared">Shared</a></li>
            <li><a href="#favorites">Favorites</a></li>
          </ul>
        </div>

<% @search_action_list = SearchAction::actions_for_user(current_user.id) %>

        <div>
          <div class="tab-pane" id="history">
            <%= render "history" %>
          </div>
          <div class="tab-pane" id="shared">
            <%= render "shared" %>
          </div>
          <div class="tab-pane" id="favorites">
            <%= render "favorites" %>
          </div>                
        </div>

      </div>

      <div class="span8 right-container">
        <div class="searches-info" id="history-info">
          <p>We remember your prior searches for registered users. </p>
          Using the search history, you can:<p><p>
          <ul class="icons">
            <li><i class="icon-ok"></i>See the stock and search details for this search<p></li>
            <li><i class="icon-ok"></i>Share an earlier search you made with someone else<p></li>
            <li><i class="icon-ok"></i>Refresh an earlier search, to create another entry with today's data<p></li>
            <li><i class="icon-ok"></i>Add a search to your favorites<p></li> 
          </ul>
          <p>
          <i class="icon-hand-left icon-2x pull-left"></i><div id="pointer-text-container">Click on a search to see details.</div>
        </div>
        
        <div class="searches-detail" id="history-detail">
          <div id="buttons-bar">
            <a class = "refresh_btn" href="#" title="Update for today" data-toggle="tooltip">
              <i class="icon-refresh"></i> Refresh
            </a>

            <a class ="favorites_btn" href = "#" title="Add to favorites" data-toggle="tooltip">
              <i class="icon-star"></i> Add to Favorites
            </a>  
            
          </div>                 
          <hr>
          <div class="accordion" id="accordion1">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#result-summary">
                  <i class="icon-table"></i> Search and Security Summary - <span id="ticker-name"></span>
                </a>
              </div>
              <div id="result-summary" class="accordion-body collapse in">
                <div class="accordion-inner" id="result-summary-content">
                  This is where the results are shown.<br>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class ="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#share-form">
                  <i class="icon-share"></i> Share this search
                </a>              
              </div>
              <div id="share-form" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <%= form_tag("/share", :method => "post", :class => "navbar-form", :id => "the-share-form", ) do %>

                    <%= hidden_field_tag "source_url" %>
                    <%= hidden_field_tag "hidden_search_id" %>

                    <p id="share-message">  We will share the search summary information and a link to your full search via e-mail.</p>
                    <%= text_field_tag(:share_message_entry, nil, :placeholder => "You can enter a custom message here.", :maxlength => "80") %><br>

                    <table>
                      <tr>
                        <td class="email-cell">
                          <%= email_field_tag(:share_email_entry, nil, :placeholder => "Email address", :maxlength => "30") %>
                        </td>
                        <td>
                          <%= submit_tag("Share", :class => "btn btn-primary") %>
                        </td>
                      </tr>
                    </table>

                    <div class="alert alert-success">
                      <!-- <a class="close" data-dismiss="alert"><i class="icon-remove"></i> Close</a>   -->
                      
                      We sent an email with the search details. <br>
                      <a href="/search?search_id=<%= session[:search_id] %>" >Click here to go back to search results </a> or stay on this page.  
                    </div>
                    <div class="alert alert-error">
                      <!-- <a class="close" data-dismiss="alert"><i class="icon-remove"></i> Close</a>   -->
                      <b>Sorry !</b> We could not send the mail to share this search at this time. <br>
                      <a href="/search?search_id=<%= session[:search_id] %>">Click here to go back to search results</a> or stay on this page.  
                    </div>

                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="searches-info" id="shared-info">
          <p>These are the searches you shared with others before. </p>
          In this view you can:<p><p>
          <ul class="icons">
            <li><i class="icon-ok"></i>See the stock and search details for this search<p></li>
            <li><i class="icon-ok"></i>Share your search with more people<p></li>
            <li><i class="icon-ok"></i>Remove an earlier shared search<p></li>
            <li><i class="icon-ok"></i>See how many other users used this exact search.<p></li> 
          </ul>
          <p>
          <i class="icon-hand-left icon-2x pull-left"></i><div id="pointer-text-container">Click on a shared search to start.</div>
        </div>

        <div class="searches-info" id="favorites-info">
          <p>These are your favorite searches. </p>
          In this view you can:<p><p>
          <ul class="icons">
            <li><i class="icon-ok"></i>See the stock and search details for this search<p></li>
            <li><i class="icon-ok"></i>Refresh to create a more up to date result<p></li>
            <li><i class="icon-ok"></i>Remove an earlier favorite<p></li>
            <li><i class="icon-ok"></i>See how many times this search was used by others.<p></li> 
          </ul>
          <p>
          <i class="icon-hand-left icon-2x pull-left"></i><div id="pointer-text-container">Click on a shared search to start.</div>
        </div>

      </div>

    </div>
  </div>

</div>

<script>

  // When a search action button is clicked, we first show the 
  // details view on the right, then take the action.

  $('.refresh_btn').click(function(e) {
    handleSearchAction(e, "refresh", 
      $(this).parents(".search-list-item").attr("search-id"));
  });

  $('.favorites_btn').click(function(e){
    handleSearchAction(e, "favorite", 
      $(this).parents(".search-list-item").attr("search-id"));    
  }); 

  $('.search-list-item').click(function(e){
    handleListItemClick(e);
  });

  $('#the-share-form').submit(function(event){

    $.ajax({  
      type: "POST",  
      url: "/share",  
      data: $(this).serialize(),  
      success: function(data) {  
        $('.alert-success').css("display", "block");
        console.log(data); 
      },
      error: function() {
        alert("Error sharing the search.");
      }  
    }); 

    return false;  
  });

  function getHash() {
    var retVal = new Array();
    var theHash = window.location.hash.substring(1);
    var splitHash = theHash.split('?');
    var theQuery;

    if (splitHash.length > 1) {
      theHash = splitHash[0];
      theQuery = splitHash[1];
    }

    retVal[0] = theHash;
    retVal[1] = theQuery;

    return retVal;    
  }

  $(document).ready(function() {

    // set the global search id and ticker from the last search.
    // This is only useful in the case of a direct jump here with a share link.
    // In every other scenario the user will have clicked on a list item, which 
    // overwrite these values based on the selection from the list.
    updateGlobals(<%= session[:search_id] %>, "<%= session[:ticker] %>");
    renderSearchDetails(global_search_id, global_search_ticker);

    $("#source_url").val(window.location.href);

    // Enable bootstrap tooltips for all anchors on the page.
    $("a").tooltip();
    $("button").tooltip();

    // Javascript to enable link to tab
    var tmp = getHash();
    var theHash = tmp[0];
    var theQuery = tmp[1];

    // show the right tab.
    $('.nav-tabs a[href=#'+ theHash +']').tab('show') ;
    $(".tab-pane").hide();
    $('div[id="' + theHash + '"]').show();

    // show the correct right side information
    hideSearchInfo();
    hideSearchDetail();
    $("#" + theHash + "-info").show();

    // Show the right tab and right side content when a tab is clicked.
    $('.nav-tabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');

        hideAlerts();

        // Hide everything and then only show the content for the tab clicked.
        hideSearchInfo();
        hideSearchDetail();
        theHash = $(this).text().toLowerCase();
        $("#" + theHash + "-info").show();
    });

    // navigate to a tab when the history changes
    window.addEventListener("popstate", function(e) {
      var activeTab = $('[href=' + location.hash.split('?')[0] + ']');
      if (activeTab.length) {
        activeTab.tab('show');
      } else {
        $('.nav-tabs a:first').tab('show');
      }
    });

    // Change hash on the address bar if we navigated here through a click,
    // so the address bar reflects where we are.
    // This is also where we show the related div.
    // We do this ourselves, since Twitter-Bootstrap is not working great here.
    $('.nav-tabs a').on('shown', function (e) {
      if (window.location.hash != e.target.hash) {
        window.location.hash = e.target.hash;

        window.history.replaceState({}, 
          "Euclidean Fundemantals - " + e.target.hash.capitalize, 
          window.location.href);        
      }

      // Hide all tab content and only show the selected
      $(".tab-pane").hide();
      var divid = this.hash.substring(1);
      $('div[id="' + divid + '"]').show();

      // Show the right side content properly.
      // ???
    });

    // if the link that got us here is from a share request, show the content.
    if (theQuery == "share") {
      hideSearchInfo();
      showSearchDetail(getHash());

      // focus on the email field.
      $("#share_email_entry").focus();
    }

  });

</script>