
<% _results = ActiveSupport::JSON.decode(result_set) %>
<% _target = _results.shift(1) %>
<% _result_count = [12, _results.length].min %>

<div class="span10">

	<div class="row-fluid"> 
		<div class="span2 result-stats" id="target-info">
			<div class="panel-header">
				<span> target </span>
			</div>
			<div>
				Some more information.
			</div>
		</div>
		<div class="span2 result-stats" id ="result-summary">
			result summary
		</div>
	</div>
<% _first_row = true %>

<% (0.._result_count-1).each do |i| %>

	<% _result_entry = _results[i] %>

	<% _new_row = (i%4 == 0) %>

	<% if _new_row %> 
		<% if !_first_row %>
			</div> <!-- row-fluid -->
		<% else %>
			<% _first_row = false %>
		<% end %>
		<hr>
		<div class="row-fluid dyna-roller"> 
	<% end %>

		<div class="span2 comparable">
			<div class="panel-header">
				
<!-- 			
				<div class="percent-circle">
					<span class="percent-text">
					<%= (100*(1-(_result_entry['distance']))).to_s.split('.')[0] %>
					</span>
				</div>
 -->

				<div class="panel-ticker">
					<%= _result_entry['ticker'] %>
					<br>
					<span class="panel-date">
						<% _d = Date.parse(_result_entry['pricedate'])%>
						<%= Date::MONTHNAMES[_d.month][0..2] + ', ' + _d.year.to_s %>
					</span>
				</div>
				<div class="panel-sparkline">
					sparkline space
				</div>

			</div> <!-- panel-header -->
			<span class="panel-body">
				<%= _result_entry['name'] %><br>
				Price: $<%= _result_entry['price'] %><br>
				<% _market_cap = sprintf("%.2f", _result_entry['price'] * _result_entry['csho']) %>
				Market Cap (mil):  $<%= _market_cap %><br>
				<% _one_year_gain = sprintf("%.2f", _result_entry['pch12m'] * 100 ) %>
				One Year Return: <%= _one_year_gain %>%<br>
				Similarity Score: <%= (100*(1-(_result_entry['distance']))).to_s.split('.')[0] %>
			</span> <!-- panel-body -->
		</div> <!-- span4 -->
<% end %>
</div> <!--end of span8 -->
