<div class="span10">
	<div class="row-fluid"> 
		<div class="span2 result-stats" id="target-info">
			<div class="panel-header">
				<span> <%= target_factors['name'] %> (<%= target_factors['ticker'] %>) </span>
			</div>
			<div>
                <% price_date = target_factors['pricedate'] %>
                <%= Date::MONTHNAMES[price_date.month][0..2] + ' ' + price_date.day.to_s + ', ' + price_date.year.to_s %><br>
				Market Cap (MM): <%= sprintf("%.2f",target_factors['mrkcap']) %><br>
				P/E: <%= sprintf("%.2f",target_factors['pe']) %><br>
			</div>
		</div>
		<div class="span2 result-stats" id ="result-summary">
                 Median Relative Performance: <%= sprintf("%.2f",median_perf()) %>
		</div>
	</div>

<% first_row = true %>
<% FrontdoorHelper::epochs.each do |ep| %>
	
	<% if !first_row %>
		</div> <!-- row fluid -->
		<% first_row = false %>
	<% end %>
	
	<% row = {
		:target => target_sec, 
		:epoch => ep, 
		:start_date => FrontdoorHelper::startDate(ep), 
		:end_date => FrontdoorHelper::endDate(ep) 
	} %>

	<%= render :partial => "row", :object => row %>

<% end %>

</div> <!-- end of span10-->