<div class="span12">
  <div class="row row-fluid target-row dark-row">

    <% pricedate = target_fields['pricedate'] %>
    <% monthname = Date::MONTHNAMES[pricedate.month][0..2] %>

    <div class="span1 timeline-bar">
      <div class="timeline-label timeline-label-today">
        TODAY
      </div>
      <div class="timeline-date">
        <%= sprintf("%02d", pricedate.month) + "." +
            sprintf("%02d", pricedate.day) + "." +
            sprintf("%02d", pricedate.year - 2000) %>
      </div>
    </div>

    <div class="target-container">
      <div class="date-label">
        <%= monthname + " " + pricedate.year.to_s %>
      </div>

      <% fullname = target_fields['name'] %>
      <div class="target-name">
        <%= fullname %> 
      </div>
      <div class="target-info">
          <b>NASDAQ</b>: <%= target_fields['ticker'] +
                             " - " + monthname + " " +
                             pricedate.day.to_s %><br>
          <b>Market Cap</b>:
          <%= number_with_delimiter(target_fields['mrkcap'].to_i,
              :delimiter => ',') + "M" %>
          <br>
          <b>P/E</b>: <%= sprintf("%.2f",target_fields['pe']) %>
          <b>Price</b>: <%= sprintf("$%.2f",target_fields['price']) %>
          <a class ="btn btn-large btn-success share-button" 
              <% if current_user %>
                href = "/searches#history?share"
              <% else %>
                href = "#asktosigninmodal" data-toggle="modal"
              <% end %>
              >
            <i class="icon-share icon-white"></i>Share
          </a>  
      </div>
    </div>
  </div> <!-- target-row -->

  <div class="row-fluid summary-row light-row">
    <div id = "result-summary">
      <div id="short-summary">
        Comparable Average  
        <div id="median-perf">
          <span><img class="summary-image" src=""></img></span>
          <span class="summary-num"></span>
        </div>
      </div>
      <div id="wide-summary">
        <%= target_fields['ticker'] %>'s Historical Comparables
        <i><span class="summary-label">Outperformed</span></i>
        the S&P 500 by an Average of:
        <div id="median-perf">
          <span><img class="summary-image" src=""></img></span>
          <span class="summary-num"></span>
        </div>
      </div>
      <div>
        <ul id="summary-stats">
          <li class="sum-stat">
            <div class="sum-val"> Num Outperformed: <span id="summary-count"></span></div>
          </li>
          <li class="sum-stat">
            <div class="sum-val" id="sum-middle-row"> Worst Performing: <span id="summary-worst"></span></div>
          </li>
          <li class="sum-stat">
            <div class="sum-val"> Best Performing: <span id="summary-best"></span></div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="comparable-panel-template" style="display:none" class="span2 comparable">
    <div class="panel-name">
    </div>
    <div class="panel-ticker-and-date">
      <span class="panel-ticker"></span>  -  <span class="panel-date"></span>
    </div>
    <div class="panel-performance">
        <img class="perf-image" src=""></img>
        <span class="perf-num"></span>
        <span class="perf-tag"></span>
    </div>
    <div class="panel-similarity"></div>
  </div>

  <div id="search-info" search-id="<%= the_search.id %>"></div>

  <% first_row = true %>
  <% row_num = 0 %>

  <% epochs.each do |ep| %>

          <% if !first_row %>
                  </div> <!-- row fluid -->
                  <% first_row = false %>
          <% end %>

          <% row_num += 1 %>

          <% row= { :row_num=>row_num, :epoch=>ep } %>

          <%= render :partial => "row", :object => row %>

  <% end %>

  <%= render :partial => "comparable_modal", :object => target_fields %>

  <%= render :partial => "askto_signin_modal" %>

</div> <!-- end of span12-->
