<div class="span12">
  <div class="row-fluid target-row dark-row">
    
    <% pricedate = target_fields['pricedate'] %>
    <% monthname = Date::MONTHNAMES[pricedate.month][0..2] %>


    <div class="span1 timeline-bar">
      <div class="timeline-label">
        TODAY
      </div>
      <div class="timeline-date">
        <%= sprintf("%02d", pricedate.month) + "." +
	    sprintf("%02d", pricedate.day) + "." +
	    sprintf("%02d", pricedate.year - 2000) %>  
      </div>
    </div>
 

    <div class="target-container">

      <span class="date-label summary-label">

	<%= monthname + " " + pricedate.day.to_s %>
      </span>

      <% fullname = target_fields['name'] %>
      <% nickname = fullname.length > 22 ? fullname[0..18]+"..." : fullname %>

      <div class="target-name"><%= nickname %> </div>
      
      <div class="target-info">
        <b>NASDAQ</b>: 
	<%= target_fields['ticker'] + " - " +
	    monthname + " " + pricedate.day.to_s %><br>
        <b>Market Cap</b>: 
	<%= sprintf("%.2fM",target_fields['mrkcap']) %> <br>
        <b>P/E</b>: 
	<%= sprintf("$%.2f",target_fields['price']) %>
	<b>Price</b>: 
	<%= sprintf("$%.2f",target_fields['price']) %>
      </div>
    </div>

  </div> <!-- target-row -->

  <div class="row-fluid summary-row light-row">
    <span class="" id ="result-summary">
      Average 1 Year Relative Performance: 
      <span id="median-perf">
        <span><img id="summary-image" src=""></img></span>
        <span id="summary-num"></span>
      </span>
    </span> 
  </div>

<div id="comparable-panel-template" style="display:none" class="span2 comparable">
<div id="panel-name" title="Click to Compare to <%= target_fields['name'] %>"></div>
<div>
  <span id="panel-ticker"></span> -
  <span id="panel-date"></span>
</div>
<div id="panel-performance">
  <span><img id="perf-image" src=""></img></span><span id="perf-num"></span>
</div>
<div id="panel-similarity"></div>
</div>

<div id="all-search-ids" search_ids="<%= search_ids.values * ',' %>"></div>

<div id="basic-chart"></div>

<% first_row = true %>
<% row_num = 0 %>
<% FrontdoorHelper::epochs.each do |ep| %>
	
	<% if !first_row %>
		</div> <!-- row fluid -->
		<% first_row = false %>
	<% end %>
	<% row_num += 1 %>
	<% epoch_label = 
	   (Date.parse(FrontdoorHelper::endDate(ep))+1).to_s[0..3] %>

  	<% row = { :row_num     => row_num, 
                   :search_id   => search_ids[ep],
                   :epoch_label => epoch_label   } %>

  	<%= render :partial => "row", :object => row %>

<% end %>

<%= render :partial => "comparable_modal", :object => target_fields %>
</div> <!-- end of span10-->
