<div class="span10">
  <div class="row-fluid summary-row">
    <div class="span1 left-bar">
      <div class="today-tag">
        TODAY
      </div>
      <div class="today-date">
        <% t = Time.now %>
        <%= sprintf("%02d", t.month) + "." + sprintf("%02d", t.day) + "." + sprintf("%02d", t.year - 2000) %>  
      </div>
    </div>
 

    <div class="target-container">

      <span class="date-label summary-label">JAN 13</span>

      <div class="target-name"><%= target_fields['name'] %> </div>
      
      <div class="target-info">
        <b>NASDAQ</b>: MANT - Jan 2013<br>
        <b>Market Cap</b>: 850M<br>
        <b>P/E</b>: 14.59 <b>Price</b>: 23.02
      </div>
    </div>

<!--         
      <div>
        <% price_date = target_fields['pricedate'] %>
        <%= Date::MONTHNAMES[price_date.month][0..2] + ' ' + price_date.day.to_s + ', ' + price_date.year.to_s %><br>
        Market Cap (MM): <%= sprintf("%.2f",target_fields['mrkcap']) %><br>
        P/E: <%= sprintf("%.2f",target_fields['pe']) %><br>
      </div>

    <span class="span2 result-stats" id ="result-summary">
      Average 1 Year Relative Performance: 
      <div id="median-perf">
        <span><img id="summary-image" src=""></img></span>
        <span id="summary-num"></span>
      </div>
    </span> 

-->
  </div> <!-- summary-row -->

<div id="comparable-panel-template" style="display:none" class="span2 comparable">
<div id="panel-name" title="Click to Compare to <%= target_fields['name'] %>"></div>
<div>
  <span id="panel-ticker"></span> -
  <span id="panel-date"></span>
</div>
<div id="panel-performance">
  <span><img id="perf-image" src=""></img></span><span id="perf-num"></span>
</div>
<div id="panel-similarity"></div>
</div>

<div id="all-search-ids" search_ids="<%= search_ids.values * ',' %>"></div>

<div id="basic-chart"></div>

<% first_row = true %>
<% row_num = 0 %>

<% FrontdoorHelper::epochs.each do |ep| %>
        <% row_num += 1 %>
	
	<% if !first_row %>
		</div> <!-- row fluid -->
		<% first_row = false %>
	<% end %>

  	<% row = { :search_id => search_ids[ep], :row_num => row_num } %>
  	<%= render :partial => "row", :object => row %>

<% end %>

<%= render :partial => "comparable_modal", :object => target_fields %>
</div> <!-- end of span10-->
