
<% row_type = ((row[:row_num]%2)==0) ? 'light-row' : 'dark-row' %>
<% first_row_class = (row[:row_num] == 1) ? 'first-row' : '' %>

<div class="row row-fluid dyna-roller result-row <%= row_type %> <%= first_row_class %>">

        <div class="span1 timeline-bar">

	  <% cur_epoch = row[:epoch] %>

          <% if row[:row_num] == 1 %>
            <div class="timeline-label timeline-label-thisyear">
              <%= (cur_epoch.thrudate+1).year %>
            </div>
          <% end %>

          <div class="timeline-ticks">

            <% [8, 6, 4, 2].each do | year | %>

            <div class="timeline-tick timeline-tick-<%= year %>">
              <%= cur_epoch.fromdate.year + year %>
            </div>

            <% end %>

          </div>

          <div class="timeline-label">
            <%= cur_epoch.fromdate.year %><div class="timeline-label-narrow">'s</div>
          </div>

        </div>

        <div class="result-container"
             fromdate="<%= cur_epoch.fromdate.to_s %>"
             thrudate="<%= cur_epoch.thrudate.to_s %>"
             id="row-<%= row[:row_num] %>">

          <ul id="result-slider<%=row[:row_num]%>" class="bxslider"></ul>

        </div>

</div> <!-- dyna-roller -->


