

<div class="welcome table-responsive">



<table class="table table-hover">

<tr>
<th style="text-align: left;">
Name</th>
<th>Ticker</th>
<th>Search Type</th>
<th>Num  Outperformed</th>
<th>Avg Outperformance</th>
</tr>

<% searches = Search.all( :order => "pricedate DESC, wins DESC", :limit => 20 ); %>

<% searches.each { |search|  %>

<% target = SecuritySnapshot::get_snapshot(search.cid,search.sid,search.pricedate) %>
<% search_type = SearchType.where( :id => search.type_id ).first %>
<% type_name = (search_type.id == 1) ? "Standard" : "Custom #{search_type.id}" %>
<% color =  (search_type.id == 1) ? "green" : "orange" %>
<tr>
<td style="text-align: left;">
<%= target.get_field('name') %></td>
<td><%= target.get_field('ticker') %></td>
<td style="color: <%=color%>"><%= type_name %></td>
<td><%= "#{search.wins} / #{search.count}" %></td>
<td><%= "#{search.mean}" %></td>
</tr>

<% } %>

</table>

</div><!--/div-->

