
<div class="welcome table-responsive">

<table class="table table-hover">

<tr>
<th colspan="6" style="font-size: 16pt; padding: 8px 25px 20px 20px; border-top: none;">
Community Searches
</th>
</tr>

<tr>
<th style="text-align: left;">Name</th>
<th>Ticker</th>
<th>Market Cap</th>
<th>Search Type</th>
<th># of  Wins</th>
<th>Avg Rel Return</th>
</tr>

<% searches = Search.where(:count => 32).order("pricedate DESC, wins DESC").limit(10); %>

<% searches += Search.where(:count => 32).order("pricedate DESC, wins ASC").limit(10).reverse;  %>

<% searches.each { |search|  %>

<% target = SecuritySnapshot::get_snapshot(search.cid,search.sid,search.pricedate) %>
<% search_type = SearchType.where( :id => search.type_id ).first %>
<% is_standard = (search_type.id < 360)  ? true : false %>
<% type_name = is_standard ? "Standard" : "Custom #{search_type.id}" %>
<% number_of_wins = "#{search.wins} of #{search.count}" %>
<% market_cap = pretty_print_mrkcap(  target.get_field('mrkcap').to_i ) %>

<% type_color =  is_standard ? "green" : "orange" %>
<% mean_color =  (search.mean > 0) ? "green" : "red" %>


<tr onclick="location.href='/search?search_id=<%=search.id%>'">
<td style="text-align: left;">
<%= target.get_field('name') %></td>
<td><%= target.get_field('ticker') %></td>
<td><%= market_cap %></td>
<td style="color: <%=type_color%>"><%= type_name %></td>
<td><%= number_of_wins %></td>
<td style="color: <%=mean_color%>"><%= number_to_percentage("#{search.mean}",precision: 1) %></td>
</tr>

<% } %>

</table>

</div><!--/div-->

