<%= render "frontdoor/searchbar" %>

<div>
<h1>Factor Definitions</h1>
<% Factors.keys.each { |key| %>

<% factor_attr = Factors.attributes(key) %>

 <%= content_tag(:a, '', :id => key) %>
<div>

<b><big><%= factor_attr[:name] %></big></b><br>
<p>
<%= factor_attr[:desc].blank? ? "TBD" :  factor_attr[:desc] %> 
<br>
<i><b>Average Value:</b></i>
<%= Factors.format_factor(key,factor_attr[:mean] ) %><br>
<i><b>Standard Deviation:</b></i>
<%= Factors.format_factor(key,factor_attr[:stdev] ) %></p>
</div><br>

<% } %>

</div>

