<div class="search-area">
  <div class="full-search-bar">
    <ul>
      <li> 
	<span> 
	  <%= link_to( image_tag("logoV3.png", :class =>"logo-image"), "/") %>
	</span> 
      </li>
      <li> 
        <span>
          <form action="<%= search_path %>" 
		method="get" 
		class="search-bar-form" 
		id="search-bar-form">

            <span class = "search-field-and-button">
              <%= text_field_tag(:ticker, nil, 
		  :placeholder => "Enter a stock symbol, e.g. IBM", 
	          :id => "ticker") %>            

              <button class ="btn btn-small btn-primary" id = "search-button">
                <i class="icon-search icon-white"></i>
              </button>              
            </span>
          </form>
        </span> 
      </li>
    </ul>
  </div><!--/.full-search-bar -->
</div><!--/.search-area -->

<hr>
<div class="container-fluid main-content">
  <div class="row-fluid">

    <div class="span2 history-sidebar-nav" id="history-sidebar-nav">
      <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Searches</li>
        </ul>
      </div><!--/.well -->
    </div><!--/span2 sidebar -->

  <% if target_fields() %>
    <%= render "frontdoor/results" %>
  <% else %>
    <%= render "frontdoor/welcome" %>
  <% end %>

  </div><!--/row-->

</div><!--/.fluid-container-->

