<script type="text/javascript" src="http://www.google.com/recaptcha/api/js/recaptcha_ajax.js">
</script>

<script>

$(document).ready(function() {
  
  // show captcha fields.
  Recaptcha.create("6LfZiucSAAAAADSaJp7qiHQqkBkwFgilmJrRiJbS", "captcha-container",
    {
      theme: "clean",
      callback: Recaptcha.focus_response_field
    }
  );

  var form_refresh = "<%= form_refresh?() %>";
  var message = "<%= validation_error %>";
  var messageElement;

  switch (form_refresh) {
    case "register":
      // show register UI again
      messageElement = $("#register-message");

      break;

    case "signin":
      // show signin UI again.
      messageElement = $("#signin-message");
      break;
  }

  if (message) {
    $(messageElement).text(message);
    $(messageElement).css("color", "red");
  }

  $("#username-info").popover({
     trigger: 'hover',
     html: true,
     placement: 'left',
     title: 'User Name',
     content: 
     ' This is the name that represents you on this site.<br>' +
     ' It\'s included in e-mails we send on your behalf, you share searches with others.<br>',
     container: 'body'
   });

  $("#email-info").popover({
     trigger: 'hover',
     html: true,
     placement: 'left',
     title: 'E-mail Address',
     content: 
     ' This is the e-mail address we will use to communicate with you.',
     container: 'body'
   });

});

</script>

<%= render "frontdoor/searchbar" %>

<% case @identity_path %>
<% when "/register"%>
<a href="#" id="example" class="btn btn-success" 
  rel="popover" 
  data-content="It's so simple to create a tooltop for my website!" 
  data-original-title="Twitter Bootstrap Popover">hover for popover</a>
    <div id="register" class="credentials ">
      <div class="modal-header">
        <h3 id="registerLabel">Register</h3>
      </div>

      <%= form_tag("/register", :method => "post", :class => "navbar-form", :id => "register-form") do %>
        <div class="modal-body">
          <p id="register-message">  Join with your e-mail address. </p>
          <table>
            <tr><td><%= text_field_tag(:register_username_entry, nil, :placeholder => "Username", :maxlength => "30") %></td><td><i id="username-info" class="icon-question-sign" rel="popover" data-content="It's so simple to create a tooltop for my website!"></i></td></tr>
            <tr><td><%= email_field_tag(:register_email_entry, nil, :placeholder => "E-mail address", :maxlength => "30") %></td><td><i id="email-info"class="icon-question-sign"></i></td></tr>
            <tr><td><%= password_field_tag(:register_password_entry, nil, :placeholder => "Password", :maxlength => "30") %></td><td></td></tr>
          </table>
        <br><br>
        </div>

        <div id="captcha-container">
        </div>        
        <p></p>
        <div class="modal-footer">
          <p>  Already have an account ? <a href="/signin">Sign in</a></p>
          <%= submit_tag("Register", :class => "btn btn-large btn-primary") %>
        </div>

      <% end %>
    </div>


<% when "/signin" %>

    <div id="signin" class="credentials">
      <div class="modal-header">
        <h3 id="signinLabel">Sign In</h3>
      </div>

      <%= form_tag("/signin", :method => "post", :class => "navbar-form", :id => "signin-form") do %>
        <div class="modal-body">
            <p id="signin-message">  Sign in with your e-mail address. </p>
            <%= email_field_tag(:signin_email_entry, nil, :placeholder => "E-mail address", :maxlength => "30") %><br>
            <%= password_field_tag(:signin_password_entry, nil, :placeholder => "Password", :maxlength => "30") %><br>
        </div>

        <div class="modal-footer">
          <p>  Don't have an account yet ? <a href="/register">Register</a></p>
          <%= submit_tag("Sign in", :class => "btn btn-large btn-primary") %>
        </div>
      <% end %>
    </div>

<% when "/subscribe" %>
    <div id="enjoy-the-beta">
    <p>
      Fundamentals is still in the Beta period and we are either not charging for, or not exposing paid features. 
      <a href="/">Enjoy the Beta !!! </a> and thank you for trying it out.
    </p>
     -- The Fundamentals Team </div>
    </div>
<% end %>
<p>
<hr>

<%= render "frontdoor/membership" %>
