<%= render "frontdoor/searchbar" %>

<% if current_user %>

<div id="profile-container">
	<h3>Profile</h3>	

	<dl>
		<dt><label>E-Mail</label>
		</dt>
		<dd>
			<%= text_field_tag(:profile_email_entry, nil, :class => "entry-field identifier", :placeholder => current_user.email) %>			
		</dd>
	</dl>
	<div class="separator"></div>
	<dl>
		<dt><label>User Name</label></dt>
		<%= form_tag("/update_username", :method => "post", :class=> "navbar-form", :id => "username-form") do %>
		<dd>
			<%= text_field_tag(:profile_username_entry, nil, :class => "entry-field", :placeholder => current_user.username, :maxlength => "30") %>
		</dd>
		<dd>
			<%= submit_tag("Update Username", :class => "btn btn-primary") %>			
		</dd>

		<% end %>
	</dl>
	<div class="separator"></div>
	<dl>
		<dt><label>Password</label></dt>
		<%= form_tag("/update_password", :method => "post", :class=> "navbar-form", :id => "password-form") do %>
		<dd>			
			<%= password_field_tag(:profile_password_current, nil, :class => "entry-field", :placeholder => "current password", :maxlength => "30") %>
		</dd>
		<dd>				
			<%= password_field_tag(:profile_password_new1, nil, :class => "entry-field", :placeholder => "new password", :maxlength => "30") %>
		</dd>		
		<dd>				
			<%= password_field_tag(:profile_password_new2, nil, :class => "entry-field", :placeholder => "new password", :maxlength => "30") %>
		</dd>
		<dd>				
			<%= submit_tag("Update Password", :class => "btn btn-primary") %>
		</dd>				
		<% end %>
	</dl>

</div>
<% else %>

<h4>You need to sign in to see your profile information.</h4>

<% end %>