<%= render "frontdoor/searchbar" %>

ticker is: <%= session[:ticker] %> <br> 
searchid: <%= session[:search_id] %> <br>
search type: <%= session[:search_type] %> <br>
is custom: <%= session[:custom_search?] %> <br>

<h3> You can share your results here </h3>