
<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">simsearch</a>
      <nav>
        <ul class="nav pull-right">
          <% if current_user %>
            <li class="dropdown banner-link">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Hello, <b><%= current_user_display_name %></b>
              <div style="text-align:right">
              Your account<b class="caret"></b></div></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li class="divider"></li>
                <li><%= link_to "Sign Out", '#', :id => 'banner-logout-btn' %></li>
              </ul>
            </li>  
          <% else %>
            <%= form_tag("/login", :method => "post", :class => "navbar-form") do %>
              <%= text_field_tag(:mail_address_entry, nil, :placeholder => "Email") %>
              <%= submit_tag("Sign in", :class => "btn") %>
            <% end %>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>
