<header>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a class="brand" href="/">Fundamentals (beta)</a>

        <div class="nav-collapse collapse">
          <ul class="nav pull-right navbar-text">
            <% if current_user %>
              <li><a href="/subscribe">Upgrade</a></li>
              <li><%= link_to "Sign Out", '#', :id => 'banner-signout-btn' %></li>
            <% else %>
              <li><a href="/register">Register</a></li>
              <li><a href="/signin">Sign In</a></li>                                        
            <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>

</header>

<!-- <header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">simsearch</a>
      <nav>
        <ul class="nav pull-right">
          <% if current_user %>
            <li class="dropdown banner-link">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              Hello, <b><%= current_user_display_name %></b>
              <div style="text-align:right">
              Your account<b class="caret"></b></div></a>
              <ul class="dropdown-menu">
                <li><a href="#">Profile</a></li>
                <li class="divider"></li>
                <li><%= link_to "Sign Out", '#', :id => 'banner-signout-btn' %></li>
              </ul>
            </li>  
          <% else %>
            <%= form_tag("/signin", :method => "post", :class => "navbar-form") do %>
              <%= text_field_tag(:mail_address_entry, nil, :placeholder => "Email") %>
              <%= submit_tag("Sign in", :class => "btn") %>
            <% end %>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header> -->
