<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Euclidean Fundamentals</title>
  <%= stylesheet_link_tag 'jquery-ui-1.9.1.custom.min.css' %>
  <%= stylesheet_link_tag  "application", :media => "all" %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body class="nr">

        <%= render "layouts/header" %>
	<% if current_page?(home_path) %>
                  <%= yield %>
	<% else %>
		<div class="content">
		  <%= yield %>
		</div>
	<% end %>
	<%= render "layouts/footer" %>   

</body>

</html>
